{% extends "notes/base.html" %}

{% block content %}
<h2>Editar nota {{note.id}}</h2>
<form class="create" method="post" action="{{note.id}}">
    {% csrf_token %}
    <label for="titulo">Title</label>
    <input class="new" id="titulo" value="{{note.title}}" type="text" name="titulo">
  
    <label class="new_label" for="detalhes">Content</label>
    <textarea class="new" id="detalhes" name="detalhes">{{note.content}}</textarea>
  
    <input class="new_button" type="submit">
  </form>
{% endblock %}