{% extends "notes/base.html" %}

{% block content %}
<h1>Get-it</h1>

<ul>
  {% for note in notes %}
  <li>{{ note.title }}</li>
  <p>{{ note.content }}</p>
  <a href="anotacoes/{{note.id}}">
    <p>Editar anotação</p>
  </a>
  <a href="anotacoes/{{note.id}}/apagar">
    <p>Apagar anotação</p>
  </a>
  {% empty %}
  <li>Nenhuma anotação por enquanto.</li>
  {% endfor %}
</ul>

<form method="post" action="/">
    {% csrf_token %}
    <label for="titulo">Title</label>
    <input id="titulo" type="text" name="titulo">

    <label for="detalhes">Content</label>
    <textarea id="detalhes" name="detalhes"></textarea>
  
    <input type="submit">
  </form>
{% endblock %}