{% extends "notes/base.html" %}
{% load static %}

{% block content %}
<img src="{% static 'notes/img/logo-getit.png' %}">
<h2>Get-it</h2>

<ul>
  {% for note in notes %}
  <li>{{ note.title }}</li>
  <p>{{ note.content }}</p>
  <p>{{ note.author }}</p>
  <div class="tags">
    {% for tag in note.tags.all %} <a class="link" href="tags/{{tag.id}}">@{{ tag.tag }}</a> {% endfor %}
  </div>
  <a class="link" href="anotacoes/{{note.id}}">Editar anotação</a>
  <a class="link" href="anotacoes/{{note.id}}/apagar">Apagar anotação</a>
  {% empty %}
  <li>Nenhuma anotação por enquanto.</li>
  {% endfor %}
</ul>

<form class="create" method="post" action="/">
    {% csrf_token %}
    <label for="titulo">Title:</label>
    <input class="new" id="titulo" type="text" name="titulo">

    <label class="new_label" for="detalhes">Content:</label>
    <textarea class="new" id="detalhes" name="detalhes"></textarea>

    <label for="tag">Tag:</label>
    <textarea class="new" id="tag" name="tag"></textarea>
  
    <input class="new_button" type="submit">
  </form>
{% endblock %}